<!doctype html>
<meta charset="utf8">
{{ $TableAttrs := "style='border-collapse:collapse'" }}
{{ $CellAttrs := "style='border:1px solid #ccc;padding:5px 10px;text-align:left'" }}
{{ $NumCellAttrs := "style='border:1px solid #ccc;padding:5px 10px;text-align:right'" }}

<h2>Src IP stats</h2>
<table {{ $TableAttrs | attr }}>
    <tr>
        <th {{ $CellAttrs | attr }}>Src IP</th>
        <th {{ $CellAttrs | attr }}>Requests</th>
        <th {{ $CellAttrs | attr }}>First seen</th>
        <th {{ $CellAttrs | attr }}>Last seen</th>
    </tr>
    {{ range .SrcIpData }}
        <tr>
            <td {{ $CellAttrs | attr }}>{{ .SrcIp }}</td>
            <td {{ $NumCellAttrs | attr }}>{{ .Reqs }}</td>
            <td {{ $CellAttrs | attr }}>{{ .FirstTime }}</td>
            <td {{ $CellAttrs | attr }}>{{ .LastTime }}</td>
        </tr>
    {{ end }}
</table>

<h2>User stats</h2>
<table {{ $TableAttrs | attr }}>
    <tr>
        <th {{ $CellAttrs | attr }}>User</th>
        <th {{ $CellAttrs | attr }}>Requests</th>
        <th {{ $CellAttrs | attr }}>First seen</th>
        <th {{ $CellAttrs | attr }}>Last seen</th>
    </tr>
    {{ range .UserData }}
        <tr>
            <td {{ $CellAttrs | attr }}>{{ .User }}</td>
            <td {{ $NumCellAttrs | attr }}>{{ .Reqs }}</td>
            <td {{ $CellAttrs | attr }}>{{ .FirstTime }}</td>
            <td {{ $CellAttrs | attr }}>{{ .LastTime }}</td>
        </tr>
    {{ end }}
</table>

<h2>Dest hosts</h2>
<table {{ $TableAttrs | attr }}>
    <tr>
        <th {{ $CellAttrs | attr }}>Dest host</th>
        <th {{ $CellAttrs | attr }}>Requests</th>
        <th {{ $CellAttrs | attr }}>First seen</th>
        <th {{ $CellAttrs | attr }}>Last seen</th>
    </tr>
    {{ range .DestHostsData }}
        <tr>
            <td {{ $CellAttrs | attr }}>{{ .DestHost }}</td>
            <td {{ $NumCellAttrs | attr }}>{{ .Reqs }}</td>
            <td {{ $CellAttrs | attr }}>{{ .FirstTime }}</td>
            <td {{ $CellAttrs | attr }}>{{ .LastTime }}</td>
        </tr>
    {{ end }}
</table>
